@font-face {
  font-family: Determination;
  src: url('../assets/fonts/determination.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Press Start;
  src: url('../assets/fonts/PressStart2P.ttf');
  font-weight: 400;
}