$grid-breakpoints: (
        sm: 640px,
        md: 768px,
        lg: 1024px,
        xl: 1280px,
        2xl: 1536px
);

@mixin media-breakpoint-up($name) {
  $min: map-get($grid-breakpoints, $name);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @warn "Brak breakpointu '#{$name}' w mapie $grid-breakpoints";
  }
}

@mixin media-breakpoint-down($name) {
  $max: map-get($grid-breakpoints, $name);
  @if $max {
    @media (max-width: calc(#{$max} - 0.02px)) {
      @content;
    }
  } @else {
    @warn "Brak breakpointu '#{$name}' w mapie $grid-breakpoints";
  }
}

.js-hidden {
  opacity: 0;
  visibility: hidden;
}